body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: grid;
    border: 1px gray solid;
    background-color: white;
}

.cell {
    border: 1px solid gray;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#player {
    background-color: yellow;
    border-radius: 50%;
    border: 1px solid black;
}

.hud {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
}

.cor {
    background-color: blue;
}